@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Scrollbar  CSS */
::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid #ccf3f5;
}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.navbar-toggler{
    border-color: transparent !important;
}
.link{
    text-decoration: none !important;
    
}
/* Navbar CSS
input[type="checkbox"] {
    content: url('./Assets/Images/nav-open.png');
    appearance: none;
    display: block;
    width: 30px;
    height: 30px;
}

input[type="checkbox"]:checked {
    content: url('./Assets/Images/nav-close.png');
} */


/* Categories CSS */
.categories-parent-container{
    width: 90%;
    padding-left: 0px;
    padding-right:0px;
}

.categories-parent-container p{
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: rgb(139, 136, 136);
}

.categories-child-container{
    height: 60px;
    width: 90%;
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right:0px;
}

.categories-link{
    text-decoration: none;
    color: cornflowerblue;
    padding: 10px;
}


/* Posts CSS */
.posts-parent-container{
    margin-bottom: 20px;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Postcard CSS */
.post-body{
    height: 180px;
    width: 330px;
    margin: 10px;
    background-color: #DEFCF9;
    border-radius: 13px;
    padding: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.post-body:hover{
    border: 2px solid #13AAFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    transform: scale(1.04);
}

.post-body-image{
    width: 50%;
    height: 100%;
}
.post-body-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.post-body-details{
    height: 100%;
    width: 50%;
    overflow: auto;
}
.post-body-details-category{
    font-size: 12px;
    margin-left: 10px;
    color: #ffffff;
    margin-bottom: 2px;
    background-color: #6836dd;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
}
.post-body-details-title{
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: blod;
    margin-left: 10px;
    color: #000000;
}
.post-body-details-author{
    margin-top: 0px;
    font-size: 13px;
    margin-left: 10px;
    color: #0f7999;
    margin-bottom: 5px;
}
.post-body-details-description{
    margin-top: 0px;
    font-size: 12px;
    margin-left: 10px;
    color: #000000b0;
}

/* Add Story button */
.addstory-btn{
    display: inline-block;
    user-select: none;
    padding: 8px 20px;
    background-color: #33e0c9a9;
    border-radius: 9px;
    color: rgb(9, 39, 56);
    cursor: pointer;
    margin-bottom: 5px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    transition: 0.4s;
}
.addstory-btn:hover{
    border: 2px solid #13a9ff94;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}
.addstory-btn:active{
    transform: scale(1.04);
}

.add-story-parent-container{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* View Post css */
.viewpost-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.viewpsot-header{
    margin-top: 40px;
    height: 400px;
    width: 80%;
    background-color: #19afdd;
    border-radius: 30px;
}
.viewpsot-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.viewpost-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.viewpost-post-body{
    width: 80%;
}
.viewpost-post-title{
    margin-top: 10px;
    font-size: 35px;
    margin-bottom: 0px;
}
.viewpost-post-author-and-post-date{
    color: rgb(117, 118, 119);
}

.share-btn i{
    margin-top: 20px;
    color: #0f7999;
    background-color:#ccf3f5;
    padding: 13px 13px;
    border-radius: 100%;
    position: absolute;
    margin-left: 76%;
    cursor: pointer;
}



/*Editpost and Addpost css*/
.viewpost-post-body .title-box{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 28px;
}

.viewpost-post-body textarea{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
    font-size: 19px;
    resize: none;
}
.viewpost-post-body button{
    font-weight:bolder;
    margin-top: 5px;
    width: 100%;
    padding: 10px 13px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #EAFDFE;
    color: #2b3ee4;
    border-radius: 12px;
    transition: 0.3s;
    border: 2px solid transparent;
}

.viewpost-post-body button:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}

.viewpost-post-body button:active{
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}

#fileupload{
    display: none;
}
label{
    display: inline-block;
    user-select: none;
    padding: 8px 20px;
    background-color: #33e0c9a9;
    border-radius: 9px;
    color: rgb(9, 39, 56);
    cursor: pointer;
    margin-bottom: 5px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    transition: 0.4s;
}
label:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}

label:active{
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}
/*edit and del btn*/

.edit-btn, .del-btn{
    margin: 10px;
    font-weight:bolder;
    margin-top: 5px;
    width: 100%;
    padding: 10px 13px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #EAFDFE;
    color: #2b3ee4;
    border-radius: 12px;
    transition: 0.3s;
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.edit-btn:hover, .del-btn:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}

.edit-btn:active, .del-btn:active{
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border: 2px solid #13AAFF;
}

.del-btn{
    background-color: #f8d2d7;
    color: #cf1a1a;
}
.del-btn:active, .del-btn:hover{
    border: 2px solid #eb0c17;
}

/*auth*/
.profile-pic{
    border-radius: 100%;
    height: 40px;
}
.user-name{
    margin-right: 5px;
}
.login-btn{
    margin-top: 10px;
    width: 100%;
}
.logout-btn{
    width: 100%;
}
/* css media queries */

/*view post */
@media only screen and (max-width: 768px) {
    .viewpsot-header{
        margin-top: 25px;
        height: 200px;
        width: 90%;
    }
    .viewpost-post-body{
        width: 90%;
    }
    .viewpost-post-title{
        margin-top: 6px;
        font-size: 23px;
    }
    .viewpost-post-body span{
        margin-top: 6px;
        padding: 7px 12px;
    }
    .share-btn i{
        margin-left: 75%;
    }
    .edit-btn, .del-btn{
        width: 100%;
        margin: 10px;
    }
    .action-handle{
        justify-content: space-between;
    }
    .profile-pic{
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin-left: 0px;
        margin-top: 20px;
    }
}
